.container {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
.right {
  height: 188px;
  width: 178px;
  border-radius: 24px 50px 50px 24px;
  clip-path: polygon(100% 15%, 100% 10%, 100% 15%, 100% 90%, 0% 100%, 0% 0%);
  background: linear-gradient(179.71deg, #ff2e2e 27.14%, #e08939 99.75%);
}

.left {
  height: 188px;
  width: 178px;
  border-radius: 70px 24px 24px 60px;
  clip-path: polygon(0 80%, 0% 26%, 100% 2%, 100% 100%);
  background: linear-gradient(180deg, #16caf1 0%, #0143a7 78.65%);
}
.parag {
  margin: 1rem;
  font-weight: bold;
  color: #fff;
}
.parag #p2 {
  font-size: 0.7rem;
}
#img2 {
  transform: translate(-8rem, 0ex);
}
#img1 {
  transform: translate(-12.1rem, -1ex);
}
.left .parag1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 6rem;
}
.parag1 #pa1 {
  font-weight: bold;
  color: #fff;
}
.parag1 #pa2 {
  color: #fff;
  font-size: 0.7rem;
}
